{% extends 'main/template.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/css/reg.css'%}"> {% endblock %}
{% block title %}Регистрация{% endblock %}
{% block content %}

  <div class="form-container">
    <h2>Авторизация</h2>
        {% if error_message %}
        <p style="color: #ff6e6e; display:flex;justify-content: center;">{{ error_message }}</p>
        {% endif %}
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Логин:</label>
          <input name="username" id="username">
      </div>
      <div class="form-group">
        <label for="password">Пароль:</label>
        <input name="password" id="password">
      </div>
      <div class="form-group">
        <input style="margin-top: 10%;" type="submit" value="Войти">
      </div>
      <p style="display:flex;justify-content: center;">Нет аккаунта?<a class="link" href="{% url 'register' %}">Зарегистрироваться</a></p>
    </form>
  </div>
{% endblock %}