{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Ошибка</title>
</head>
<body style="background-image: url('{% static 'main/img/error.jpg'%}'); background-size: 100% auto;background-attachment: fixed;">
<form method="post">
    {% csrf_token %}
  <div class="text-center" style="padding-top: 10%; color: red">
      <h1>{{ error_message }}</h1>
      <button style="margin-top: 2%;" type="submit" class="btn btn-success fixed-button-error" name="back">Вернуться</button>
  </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</body>
</html>