{% extends 'main/template.html' %}
{% load static %}
{% block head %}
<style>
  .carde {
  display: flex;
  justify-content: center;
  background: #262424;
  align-items: center;
  flex-direction: column;
  max-width: 25%;
  margin: 5% auto;
  border: 2px solid #4f4f4f;
  box-shadow: 0px 0px 2px 0px #4f4f4f;
}

.carde img {
  max-width: 100%;
  height: auto;
}

.carde .description {
  margin: 20px 0;
  text-align: center;
}

.carde .description h2 {
  font-size: 24px;
}

.carde .description p {
  font-size: 16px;
  margin-bottom: 20px;
}

.carde .button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #009ffd;
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 900px) {
  .carde {
    max-width: 60%;
  }
}
</style>{% endblock %}
{% block title %}Spotify{% endblock %}
{% block body %}
<div class="carde">
  <img src="{% static 'main/img/spotify-premium.jpg' %}" alt="Spotify">
  <div class="description">
    <button type="button" data-bs-toggle="modal" data-bs-target="#spotifyModal" class="btn btn-success">Купить</button>
  </div>
</div>

                                          <!--MODAL WINDOW-->

<div class="modal fade" id="spotifyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div style="background: #828282" class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">QIWI</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
        {% csrf_token %}
          <div style="height: 500px; background: #a3a3a3; color: #2b2b2b" class="modal-body text-center">
            <img style="width: 50%;border-radius:5%;" src="{% static 'main/img/spotify-premium.jpg'%}" alt="spotify">
            <h5>Кол-во товара: {% for el in form %} {{ el.spotify_premium }} {% endfor %}шт.</h5>
              <label for="spotify">Выбери срок подписки</label>
              <select style="margin-top: 5%;" name="spotify" id="spotify">
                  <option value="month">месяц подписки</option>
                  <option value="3">3 месяца подписки</option>
                  <option value="year">Год подписки</option>
              </select>
              <br>
              <br>
            <p style="margin-top: 5%;" class="small">Premium на SPOTIFY по приятной цене<br>Месяц: 100p<br>3 месяца: 250p<br>Год: 1000p</p>
          </div>
          <div class="modal-footer" style="justify-content:flex-start;">
            <button type="submit" name="buyspotify" class="btn btn-primary">Купить</button>
          </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
