{% extends 'main/template.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/css/modals.css' %}">
{% endblock %}
{% block title %}vpn{% endblock %}
{% block body %}

                                      <!--ERROR MODAL-->
{% if error_message %}<div id="alert" class="text-center alert alert-info alert-dismissible fade show" role="alert">
                <h5 class="small">Hедопустимое кол-во товара<br><br>будьте внимательнее!</h5>
              </div>{% endif %}

                                          <!--BODY-->
    <div style="max-width: 65%; margin-left: 17.5%; margin-top: 10%;" class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div style="border: 2px solid #4f4f4f;box-shadow: 0px 0px 2px 0px #4f4f4f;" class="card">
          <img src="{% static 'main/img/expressvpn-service.jpg' %}" class="card-img-top" alt="expressVPN">
          <div style="background: #383838" class="card-body text-center">
            <button type="button" name="vpn" style="width: auto;" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#vpnModal" >Купить</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="border: 2px solid #4f4f4f;box-shadow: 0px 0px 2px 0px #4f4f4f;" class="card">
          <img src="{% static 'main/img/hideME.jpeg' %}" class="card-img-top" alt="hideME">
          <div style="background: #383838" class="card-body text-center">
            <button type="button" name="qiwi" style="width: auto;" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#hideModal" >Купить</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="border: 2px solid #4f4f4f;box-shadow: 0px 0px 2px 0px #4f4f4f;" class="card">
          <img src="{% static 'main/img/surfshark.jpg' %}" class="card-img-top" alt="proxy">
          <div style="background: #383838" class="card-body text-center">
            <button type="button" name="proxy" style="width: auto;" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#surfModal">Купить</button>
          </div>
        </div>
      </div>
    </div>

                                    <!--EXPRESS VPN MODAL WINDOW-->

<div class="modal fade" id="vpnModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div style="background: #828282" class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">ExpressVPN</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
        {% csrf_token %}
          <div style="height: 500px; background: #a3a3a3; color: #2b2b2b" class="modal-body text-center">
            <img style="width: 50%;border-radius:5%;" src="{% static 'main/img/expressvpn-service.jpg'%}" alt="express">
            <h5 style="padding-top:5%;">Кол-во товара: {% for el in form %} {{ el.expressVPN }} {% endfor %}шт.</h5>
            <label for="num">Введи кол-во товара для покупки</label>



            <input required id="num" name="num" type="number">
            <p><br>Стоимость 1 подписки - 150р<br>Длительность подписки - 1 год</p>
          </div>
          <div class="modal-footer" style="justify-content:flex-start;">
            <button type="submit" name="buy" class="btn btn-primary">Купить</button>
          </div>
      </form>



    </div>
  </div>
</div>
                                        <!--HIDEME MODAL WINDOW-->

<div class="modal fade" id="hideModal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div style="background: #828282" class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel2">HideME</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
        {% csrf_token %}
          <div style="height: 500px; background: #a3a3a3; color: #2b2b2b" class="modal-body text-center">
            <img style="width: 50%;border-radius:5%;" src="{% static 'main/img/hideME.jpeg'%}" alt="express">
            <h5 style="padding-top:5%;">Кол-во товара: {% for el in form %} {{ el.hideME }} {% endfor %}шт.</h5>
            <label for="num">Введи кол-во товара для покупки</label>
            <input required name="numhide" type="number">
            <p><br>Стоимость 1 подписки - 100р<br>Длительность подписки - 6 месяцев</p>
          </div>
          <div class="modal-footer" style="justify-content:flex-start;">
            <button type="submit" name="buyhide" class="btn btn-primary">Купить</button>
          </div>
      </form>
    </div>
  </div>
</div>

                                          <!--SURFSHARK MODAL WINDOW-->

<div class="modal fade" id="surfModal" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div style="background: #828282" class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel3">SurfShark</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
        {% csrf_token %}
          <div style="height: 500px; background: #a3a3a3; color: #2b2b2b" class="modal-body text-center">
            <img style="width: 50%;border-radius:5%;" src="{% static 'main/img/surfshark.jpg'%}" alt="express">
            <h5 style="padding-top:5%;">Кол-во товара: {% for el in form %} {{ el.surfshark }} {% endfor %}шт.</h5>
            <label for="num">Введи кол-во товара для покупки</label>
            <input required name="numsurf" type="number">
            <p><br>Стоимость 1 подписки - 150р<br>Длительность подписки - 1 год</p>
          </div>
          <div class="modal-footer" style="justify-content:flex-start;">
            <button type="submit" name="buysurf" class="btn btn-primary">Купить</button>
          </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}