.bg{
background: #1f1d1d;
}
.img{
transition: transform 0.2s ease-in-out;
width: 250px;
}
.img:hover{
transform: scale(1.05);
}
.card-img-top{
transition: transform 0.2s ease-in-out;
}
.card-img-top:hover{
transform: scale(1.08);
}
.card{
overflow: hidden;
}
.btn-success{
transition: transform 0.2s ease-in-out;
}
.btn-success:hover{
transform: scale(1.1);
}
.btn-primary{
transition: transform 0.2s ease-in-out;
}
.btn-primary:hover{
transform: scale(1.1);
}
.imgproduct{
width: 350px;
}
.center{
display: flex;
justify-content: center;
}
.card-size{
max-width: 540px;
margin-left: 25%;
margin-top: 10%;
margin-right: 25%;
}
.formcard{
margin-top: 10%;
margin-left:20%;
margin-right: 20%;
border: 2px solid gray;
}
.fixed-button{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}
.fixed-button-error{
  position: fixed;
  top: 0;
  left: 30px;
  z-index: 9999;
}
.supportimg{
max-width: 50px;
}
.modal-dialog{
  margin-top: 5%;
}
.link{
padding-left: 10px;
color: #5c5c5c;
display: inline-block;
text-decoration: none;
transition: transform 0.2s ease-in-out;
}
.link:hover{
transform: scale(1.2);
}
.abouttext{
font-size: 80%;
}
.productdiv{
display: flex;
flex-direction: row;
padding-top: 10px;
}
.product{
display: inline-block;
padding-left: 10%;
width: 10%;
margin: 10%;
}
@media only screen and (max-width: 850px){
.img{
width: 80%
}
.abouttext{
font-size: 60%;}
}
#phone_1::placeholder{
font-size: 0.75em;
}
@media only screen and (max-width: 650px){
.formcard{
margin: 0;
width: 100%;
}
}

@media only screen and (max-width: 500px){
.img{
width:60%;
}
.abouttext{
font-size: 50%;
}
.supportimg{
width: 30px;
}
.card-size{
margin:10%
}
}
