
body {
padding: 0;
margin: 0;
  background-image: linear-gradient(to bottom, #C2F4C2, #83D283);
  display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
:root{
 --index: calc(1vh + 1vw);
}
.container {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 35px;
  width: 80%;
  border: 3px solid;
  border-image: linear-gradient(to bottom, #83D283, #C2F4C2) 1;
  max-width: 550px;
  height: 480px;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 10px;
}

h1 {
  text-align: center;

}

p {
  text-align: justify;
}
.logo-div{
display: flex;
justify-content: center;
align-items: center;
border-bottom: 2px solid #858585;
width: 100%;
padding-bottom: 5px;
}
.logo{
width: calc(var(--index) * 12);
}
.continue-button{
  width: 95%;
  height: 55px;
  background: #00b849;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 500;
  font-family: "Source Sans Pro", sans-serif;
  box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 2.5%;
  margin-bottom: 5%;
  cursor: pointer;
}
.btn-label{
color: green;
}
.code{
  width: 40%;
  height: 50px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #ced6e0;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  padding: 5px 15px;
  background: none;
  color: #1a3b5d;
  font-family: "Source Sans Pro", sans-serif;

}
.about{
padding-bottom: 10px;
border-radius: 10px;
background: white;
}
.comments-title{
display: flex;
justify-content: center;
border-radius: 10px;
align-items: center;
height: 70px;
margin-top: -1px;
color: white;
background: #14a0fc;
}
.comments-container{
width: 600px;
height: 100px;
padding-left: 10px;
position: relative;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
background: white;
}
.comments{
position: relative;
width: 70%;
min-height: 70px;
border-radius: 10px;
padding: 0px;
background: #cccccc;
margin: 10px;
margin-left: 20px;
}
.profile-img{
position: absolute;
top: 0;
left: 0;
margin: 10px;
width: 75px;
height: 75px;
border-radius: 35px;
border: 3px solid #14a0fc;
}
.profile-name{
position: absolute;
left: 0;
font-weight: 900;
padding-left: 10px;
padding-top: 3px;
margin-bottom: 50px;
color: #14a0fc;
font-size: 1.2em;
}
.profile-name p{
position: absolute;
color: black;
top: -23%;
left: 120%;
font-size: .7em;
font-weight: 900;
}
.comment-date{
position: absolute;
top: -15%;
font-weight: 800;
right: 1%;
}
.profile-comment{
padding-top: 15px;
padding-left: 10px;
padding-right: 10px;
font-weight: 700;
}
.footer{
margin-top: 100px;
display: flex;
justify-content: center;
align-items: center;
background: #fff;
color: black;
width: 100%;
}
.footer-img{
width: 50px;
height: 50px;
}
@media screen and (max-width: 640px) {
  .about{
    width: 90%;
    overflow: hidden;
  }
  .comments-container{
  padding: 0;
  height: 130px;
  width: 100%;
  }
  .profile-img{
  top: 10%;
  }
  .comments{
  margin-left: 100px;
  width: 350px;
  }
}
@media screen and (max-width: 525px) {
  .about{
    width: 100%;
  }
  .profile-img{
  width: 70px;
  height: 70px;
  }
  .comments-container{
  right: 10px;
  width: 100%;
  height: 150px;
  }
  .comments{
  margin-left: 100px;
  width: 80%;
  font-size: .9em;
  letter-spacing: -.1px;
  height: 120px;
  }
  .profile-img{
  top: 25%;
  }
  .comment-date{
  top: -5%;
  right: 5%;
  }
}
@media screen and (max-width: 425px) {

.profile-img{
width: 60px;
height: 60px;

}
}
@media screen and (max-width: 385px) {
.container h1{
font-size: 1.5em;
}
}
@media screen and (max-width: 370px) {
  .container{
  letter-spacing: 0;
  overflow: hidden;
  width: 85%;
  font-size: .8em;
  height: 400px;
  }
  .continue-button{
  font-size: 1.3em;
  height: 45px;
  }
  .comment-date{
  top: 70%;
  }
}
@media screen and (max-width: 340px) {
.profile-img{
width: 50px;
height: 50px;
top: 0;
}
}