:root{
    --index: calc( 1vw + 1vh );
}
.payment-div{
position: absolute;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: rgb(255 255 255);
width: calc(var(--index) * 30);
height: calc(var(--index) * 30);
top: calc(var(--index) * 13.5);
max-height: 620px;
max-width: 680px;
min-height: 570px;
min-width: 570px;
border-radius: 1vh;
}
.payment-div label, span{
font-weight: 900;
font-size: 1.2em;
padding-bottom: 10px;
}
.condition{
position: absolute;
top: 0;
margin-top: 30px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.condition span, h3{
color: green;
}
.card-div{
position: relative;
padding: 5px;
padding-top: 10px;
display: flex;
flex-direction: column;
border: rgb(30, 138, 0) 2px solid;
border-radius: 1vw;
width: 350px;
height: 190px;
}
.card-input{
font-size: 1.4em;
position: relative;
margin-left: 30px;
width: 303px;
padding: 1px;
height: 34px;
border-top: none;
border-left: none;
border-right: none;
}
input::placeholder{
font-size: 0.7em;
}
input:focus{
outline: none;
}
.date-input{
position: absolute;
padding-left: 10px;
bottom: 0;
right: 0;
width: 100px;
height: 30px;
margin-bottom: 15px;
margin-right: 45px;
border-top: none;
border-left: none;
border-right: none;
font-size: 1em;
}
.datelabel{
position:absolute;
bottom: 0;
right: 0;
margin-bottom: 55px;
margin-right: 10px;
color: #186e00;
}
.click-logo{
position: absolute;
bottom:0;
left: 0;
margin-left: 20px;
margin-bottom: 13px;
width: 100px;
height:40px;
}
.pay{
margin-top: 50px;
width: 150px;
height: 40px;
font-weight: 700;
border: rgb(0, 0, 0) 0.5px solid;
font-size: 0.9em;
border-radius: 2vh;
}

@media (max-width: 440px) {
#useless{
    display: none;
}
}
@media (max-width: 360px) {
.card-div{
width: 330px;
}
@media (max-width: 345px) {
.card-div{
width: 260px;
}
.card-input{
width: 210px;
}
}
}