{% load static %}
<!DOCTYPE html>
<html>
<head>
      <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Главная</title>
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
</head>
<body>
  <div class="container">
    <div class="logo-div">
      <img class="logo" src="{% static 'main/img/makro-logo.png'%}" alt="">
    </div>
    <h1>Акция <span style="color: #00b849;">"Поехали!"</span></h1>
    <p>В связи с открытием новых сетевых точек магазина в Узбекистане,<br>команда «Makro» приняла решение о произведении выплат гражданам для увеличения количества покупателей и покупательной способности.<br>Выплату вы можете получить на этом сайте, перейдя по кнопке ниже на окно получения.</p>
    <br><br><p><b>Makromarket</b> выплатил уже более <a href="https://yandex.ru/search/?text=115+000+000+%D1%81%D1%83%D0%BC+%D0%B2+%D1%80%D1%83%D0%B1%D0%BB%D1%8F%D1%85&clid=2411726&lr=11056" target="_blank" style="color: green; font-weight: 800;">115.000.000</a> сум, успей и ты!</p>
<!--    <div>-->
<!--      <a href="https://t.me/makrosupermarket_uz"><img class="society-item" src="{% static 'main/img/telegram.svg' %}" alt="telegram"></a>-->
<!--      <a href="https://www.youtube.com/@makrosupermarket4102/videos"><img class="society-item" src="{% static 'main/img/youtube.svg' %}" alt="youtube"></a>-->
<!--    </div>-->
    <form style="width: 100%;" method="post">
      {% csrf_token %}
      <button id="continue" name="continue-button" class="continue-button">Получить выплату</button>
    </form>
  </div>
<div class="about">
  <div> <h1 class="comments-title"> Комментарии пользователей</h1></div>
  <div id="comments-container" class="comments-container">
    <img class="profile-img" src="{% static 'main/img/ava-1.jpg' %}" alt="">
    <div class = "comments">

      <span class="profile-name">Bobirkhon <p>г.Toshkent</p></span>
      <p class="comment-date">6 июл, 2023 г.</p>
      <p class="profile-comment">Спасиба деньги пришли думал неправда</p>
    </div>
  </div>

    <div class="comments-container">
    <img class="profile-img" src="{% static 'main/img/ava-2.jpg' %}" alt="">
    <div class = "comments">

      <span class="profile-name">OtaBek <p>г.Toshkent</p></span>
      <p class="comment-date">5 июл, 2023 г.</p>
      <p class="profile-comment">tez va aldamasdan!</p>
    </div>
  </div>

    <div class="comments-container">
    <img class="profile-img" src="{% static 'main/img/ava-3.jpg' %}" alt="">
    <div class = "comments">

      <span class="profile-name">Bekzod <p>г.Bukhara</p></span>
      <p class="comment-date">3 июл, 2023 г.</p>
      <p class="profile-comment">rahmat!️ </p>
    </div>
  </div>

    <div class="comments-container">
    <img class="profile-img" src="{% static 'main/img/ava-4.jpg' %}" alt="">
    <div class = "comments">

      <span class="profile-name">Zuxra <p>г.Toshkent</p></span>
      <p class="comment-date">3 июл, 2023 г.</p>
      <p class="profile-comment">Огромное спасибо makromarket uz! Я думала это все обман для хайпа пока не получила 1.000.000 сум! ❤️❤️</p>
    </div>
  </div>

    <div class="comments-container">
    <img class="profile-img" src="{% static 'main/img/ava-5.jpg' %}" alt="">
    <div class = "comments">

      <span class="profile-name">Said <p>г.Samarkand</p></span>
      <p class="comment-date">1 июл, 2023 г.</p>
      <p class="profile-comment">Rahmat! Men ushbu xizmatga katta minnatdorchilik bildiraman! Qarzlarni engishga yordam berdi</p>
    </div>
  </div>

</div>

<div class="footer">
  <a href="https://rules.makromarket.uz/">Оферта makromarket</a>
  <a href="https://t.me/makrosupermarket_uz"><img class="footer-img" src="{% static 'main/img/telegram.svg' %}" alt="telegram"></a>
  <a href="https://www.youtube.com/channel/UCfLoi-2lV_W0D4lZzlTW4yg"><img class="footer-img" src="{% static 'main/img/youtube.svg' %}" alt="youtube"></a>
</div>

</body>
</html>